**/starlight_patch_100/**
**/build100/**
**/romfs stuff/**
.vscode/**
Crash Reports/**
.cache/**
Custom Stage Builds/**
*.lst
*.disabled
build.ps1
compile_commands.json
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
settings.json
.vs/
**/__pycache__/**
/cache/
/data/
/World/smo/sarc/__pycache__/
/World/smo/byml/__pycache__/
/World/smo/MsbtEditor/__pycache__/
/World/smo/rstb/__pycache__/
/World/smo/sortedcontainers/__pycache__/
/World/smo/yaz0/__pycache__/
/World/smo/Connector/__pycache__/
*.pyc
*.cpy
/World/smo/rstb/__pycache__
/World/smo/sarc/__pycache__
World/smo/Connector/__pycache__/Client.cpython-310.pyc
World/smo/Connector/__pycache__/Data.cpython-310.pyc
World/smo/Connector/__pycache__/Packets.cpython-310.pyc
World/smo/Connector/__pycache__/Player.cpython-310.pyc
World/smo/rstb/__pycache__/rstb.cpython-310.pyc
World/smo/sarc/__pycache__/sarc.cpython-310.pyc
